<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-inline mb-3 bg-info p-2">
  <div class="form-inline ml-5">
    <label for="username">Username</label>
    <input formControlName="username" type="text" class="form-control ml-4">
  </div>
  <div *ngIf="wrongUsername" class="bg-danger text-white p-1 mr-1">Incorrect Username</div>
  <div class="form-inline ml-5">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control ml-4">
  </div>
  <div *ngIf="wrongPass" class="bg-danger text-white p-1 mr-1">Incorrect Password</div>

  <div class="ml-4">
    <input type="submit" value="Login">
  </div>
</form>
