<div>
  <div *ngIf="allTeas.length" class="card-columns">
    <div *ngFor="let tea of allTeas" class="card" style="width:20em">
      <img class="card-img-top img-responsive" [src]="tea.imageUrl" alt="card image cap" style="max-height:300px">
      <div class="card-body">
        <div style="height:150px">
          <h2 class="text-center">{{tea.name}}</h2>
          <h3 class="text-center">{{tea.price | currency:"USD":true:"2.2-2"}}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{tea.brand}}</li>
          <li class="list-group-item">{{tea.category}}</li>
          <li class="list-group-item">{{tea.description}}</li>
        <!-- <ul class="list-group list-group-flush" *ngFor="let detail of tea | keyvalue"> -->
          <!-- <li class="list-group-item" *ngIf="detail.key!=='imageUrl'">{{detail.key}}: {{detail.value}}</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

