<div>
  <div *ngIf="teas.length" class="card-columns">
    <div *ngFor="let tea of teas" class="card" style="width:100%">
      <img class="card-img-top img-responsive" [src]="tea.imageUrl" alt="card image cap" style="max-height:400px">
      <div class="card-body">
        <div style="height:150px">
          <h2 class="text-center">{{tea.name}}</h2>
          <h3 class="text-center">{{tea.price | currency:"USD":"symbol":"2.2-2"}}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{tea.brand}}</li>
          <li class="list-group-item">{{tea.category}}</li>
          <li class="list-group-item">{{tea.description}}</li>
        <!-- <ul class="list-group list-group-flush" *ngFor="let detail of tea | keyvalue"> -->
          <!-- <li class="list-group-item" *ngIf="detail.key!=='imageUrl'">{{detail.key}}: {{detail.value}}</li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="form-inline">
    <select name="itemsperpage" class="form-control" [value]="itemsPerPage" (change)="changePerPageView($event.target.value)">
      <option value=null>Show items per page</option>
      <option value='1'>1 per page</option>
      <option value='2'>2 per page</option>
      <option value='3'>3 per page</option>
    </select>
  </div>

  <div class="btn-group">
    <button class="btn btn-outline-primary" *ngFor="let page of pageNumbers">{{page}}</button>
  </div>

</div>

